<h1>Form Create Product</h1>
<form #productForm="ngForm" (ngSubmit)="createProduct(productForm)">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" #name="ngModel" name="name" required minlength="6" [(ngModel)]="product.name"></td>
      <td *ngIf="productForm.invalid && productForm.touched && isSubmitted">
        <p *ngIf="name.errors?.required">Trường này phải điền</p>
        <p *ngIf="name.errors?.minlength">Phải ít nhất 6 ký tự</p>
      </td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><input type="text" name="price" [(ngModel)]="product.price"></td>
    </tr>
    <tr>
      <td>Categories:</td>
      <td>
        <select name="category" [(ngModel)]="product.category">
          <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" name="description" [(ngModel)]="product.description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Create</button></td>
    </tr>
  </table>
</form>
